name: Practical Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  install:
    name: Install Dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          if [ -f requirements.txt ]; 
          then
            echo "Installing dependencies..."
            pip install -r requirements.txt
          else
            echo "No dependencies to install"
          fi

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Run tests
        run: |
          if [ -d tests ]; 
          then
            echo "Running tests..."
            pytest tests || echo "No tests found"
          else
            echo "No tests folder, skipping tests"
          fi

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Mock Deployment
        run: echo "Deploying..."
